ClientWebService/src/wsdl/localhost_8080/WebService/cadastroProvider.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cesar.com/">

<xs:complexType name="fornecedor">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="razaoSocial" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retorno">
<xs:sequence>
<xs:element name="mensagem" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>